* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
#good{
    height: 30px;
    width: 150px;
    background-color: var(--yellow);
    font-size: 11px;
    position: relative;
    left: 60px;
    top: 120px;
    padding-left: 9px;
    padding-top: 5px;
}
#joint{
    height: 40px;
    width: 200px;
    text-align: center;
    background-color: var(--yellow);
    position: relative;
    left: 60px;
    top: 100px;
    padding-top: 10px;
}
#img1{
    background-image: url(./img_1.jpg);
    background-repeat: no-repeat;
    height: 400px;
    background-size: 800px;
}
#content{
    height: 600px;
    background-color: var(--black);
}
#gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 490px;
  align-content: space-between;
}
.lastimgs img {
  height: 220px;
  width: 220px;
}
#break {
  text-align: center;
}
#seperate {
  padding-top: 30px;
}
#link {
  position: relative;
  text-align: center;
  padding-top: 10px;
  left: 70px;
  top: 20px;
  width: 150px;
  height: 30px;
  background-color: var(--yellow);
}
#img2 {
  width: 1190px;
  height: 400px;
  background-color: var(--black);
  position: relative;
  left: 45px;
  display: flex;
  gap: 20px;
}
#img2 img {
  width: 450px;
  height: 350px;
  position: relative;
  top: 20px;
  left: 70px;
}
#discription h2 {
  left: 70px;
  position: relative;
  top: 20px;
  color: aliceblue;
  width: 400px;
}
.submenu {
  width: 290px;
  height: 200px;
  background-color: #272727;
  background-repeat: no-repeat;
  color: aliceblue;
}
.submenu h2,
h3 {
  position: relative;
  top: 20px;
  text-align: center;
  line-height: 25px;
}
.submenu img {
  position: relative;
  left: 116px;
  top: 10px;
}
#menu {
  display: flex;
  justify-content: space-around;
}
/* <h3>Pretty Good Tacos!</h3> */
/* #price2 {
  height: 90px;
  width: 300px;
  background-color: var(--yellow);
  text-align: center;
  padding-top: 30px;
  border: 1px solid black;
} */
#content {
  padding-top: 40px;
  padding-left: 45px;
}
#child div {
  padding-top: 20px;
}
#child h3 {
  height: 25px;
  width: 150px;
  text-align: center;
  padding-top: 5px;
  font-size: 15px;
  font-family: fantasy;
  background-color: var(--yellow);
  word-spacing: 3px;
  letter-spacing: 1px;
}
/* #img1 h2 {
  height: 40px;
  width: 230px;
  word-spacing: 3px;
  letter-spacing: 3px;
  padding-top: 13px;
  font-size: 21px;
  font-family: fantasy;
  background-color: var(--yellow);
} */
/* #img1 {
  padding-top: 200px;
  padding-left: 40px;
  background-image: url(./img_1.jpg);
  height: 400px;
  background-size: 850px;
  background-repeat: no-repeat;
} */
:root {
  --yellow: #ffc600;
  --black: #272727;
}
#header {
  display: flex;
  column-count: 5;
  column-gap: 9px;
  padding-top: 50px;
  padding-left: 45px;
}
#item1 a {
  text-decoration: none;
}
#item2 a {
  text-decoration: none;
}
#item3 a {
  text-decoration: none;
}
#item4 a {
  text-decoration: none;
}
#item5 a {
  text-decoration: none;
}
#item1 {
  height: 40px;
  width: 230px;
  text-align: center;
  padding-top: 13px;
  font-size: 20px;
  font-family: fantasy;
  background-color: var(--yellow);
}
#item2 {
  height: 40px;
  width: 230px;
  text-align: center;
  padding-top: 13px;
  font-size: 20px;
  font-family: fantasy;
  background-color: var(--yellow);
}
#item3 {
  height: 40px;
  width: 230px;
  text-align: center;
  padding-top: 13px;
  font-size: 20px;
  font-family: fantasy;
  background-color: var(--yellow);
}
#item4 {
  height: 40px;
  width: 230px;
  text-align: center;
  padding-top: 13px;
  font-size: 20px;
  font-family: fantasy;
  background-color: var(--yellow);
}
#item5 {
  height: 40px;
  width: 230px;
  text-align: center;
  padding-top: 13px;
  font-size: 20px;
  font-family: fantasy;
  background-color: var(--yellow);
}
